<meta type="og:url" content="{{ site.url }}"/>
<meta type="og:type" content="website"/>
<meta type="og:title" content="{{ site.title }}"/>
<meta type="og:locale" content="en_US"/>
<meta type="og:description" content="{{ site.description | strip }}"/>
<meta type="og:site_name" content="{{ site.title }}"/>
<meta type="og:updated_time" content="{{ 'now' | date: '%s' }}"/>
<meta type="og:image" content="{{ site.url }}/assets/img/pghdsa-logo.png"/>
<meta type="og:image:width" content="232"/>
<meta type="og:image:height" content="232"/>
