        <div id="numbers">
          <h3>The <span class="pop">Numbers</span></h3>
          <ul class="facts">
            <li>
              <i class="fa fa-bar-chart fw"></i>
              There are more than 2500 fake clinics all over the country
              vs. less than 800 real abortion providers.
            </li>

            <li>
              <i class="fa fa-bar-chart fw"></i>
              <a href="https://www.womenslawproject.org/2020/01/22/abortion-rights-access-in-pennsylvania-at-roe47/"
                >In 1970, there were 145 abortion providers in Pennsylvania. Now,
                there are only 17. There are over 80 CPCs in PA.</a>
            </li>

            <li>
              <i class="fa fa-bar-chart fw"></i>
              <a href="https://www.guttmacher.org/fact-sheet/induced-abortion-united-states"
                >24% of American women have an abortion by the age of 45. 51% of
                those patients were using a contraceptive method the month they
                became pregnant.</a>
            </li>

            <li>
              <i class="fa fa-bar-chart fw"></i>
              In many states, taxpayers fund CPCs.  In 2013, 34 states directed
              money to CPCs.  In PA, CPCs can get funding from the TANF program
              (Temporary Assistance for Needy Families) because they are
              considered an outreach program.
            </li>

            <li>
              <i class="fa fa-bar-chart fw"></i>
              In 2017, the group Real Alternatives received a 5-year
              Pennsylvania state grant of $30.2 million dollars.
              <a href="https://rewire.news/article/2017/09/19/pennsylvania-officials-still-wont-cut-off-anti-choice-group-misusing-taxpayer-money/"
                >This group has been found misusing funds by spending them on
                out-of-state businesses</a>, and
              <a href="https://www.womenslawproject.org/2020/06/26/court-orders-real-alternatives-to-reveal-hidden-records-discovers-clients-privacy-violated/"
                >collecting private patient information from their service providers.</a>
            </li>

            <li>
              <i class="fa fa-bar-chart fw"></i>
              Fracking Billionaire Farris Wilks, anti-choice foundations, and
              church communities contribute millions. For example, although
              Women's Choice Network does not receive taxpayer money,
              <a href="http://www.post-gazette.com/local/city/2012/08/18/Women-s-center-in-Pittsburgh-s-North-Side-welcomes-ultrasound-machine/stories/201208180103"
                >they did receive their ultrasound machine as a donation from a church</a>.
            </li>
          </ul>
        </div>
