        <div id="tactics">
          <h3>The <span class="pop">Tactics</span></h3>
          <ul class="facts">
						<li>
              <strong>Deception</strong>: CPCs pose as women's health clinics or
              medical facilities but often provide biased pregnancy counseling.
              Some use debunked studies correlating abortions to cancer and
              depression. Many push controversial “Abortion Reversal Pills” that
              have
              <a href="https://www.npr.org/sections/health-shots/2019/03/22/688783130/controversial-abortion-reversal-regimen-is-put-to-the-test"
                >no medical backing</a>. CPCs often lie to patients once they're
              inside. They have been known to ask probing and invasive
              questions, and manipulate so-called <q>abortion minded</q>
              individuals about their spirituality and relationships.
            </li>

            <li>
              <strong>False Advertisement</strong>: CPCs advertise specifically
              to young, vulnerable, and lower income pregnant people
              experiencing an unplanned pregnancy. They often
              position themselves near real, medically-licensed health care
              providers.  Many CPCs do not follow HIPAA regulations (because
              HIPAA only applies to actual medical providers).
            </li>

            <li>
              <strong>Stalling</strong>: Some will delay and cancel
              appointments, hoping to push people past the legal limit for
              abortion. By scheduling appointments at a location where they
              cannot receive complete reproductive health care, patients can
              waste weeks of time, making eventual procedures more expensive or
              inaccessible due to state law. The farther along a pregnancy goes,
              the more expensive it is to access abortion care. They seek to
              whittle away at a person's options and make accessing an abortion
              that much harder.
            </li>

            <li>
              <strong>Intimidation</strong>: Some CPCs work with protesters to
              intimidate people going into abortion provider offices. Many CPCs
              <a href="https://www.womenslawproject.org/2020/06/26/court-orders-real-alternatives-to-reveal-hidden-records-discovers-clients-privacy-violated/"
                >share patient data</a>, and try to intimidate legit providers.
            </li>

            <li>
              <strong>Exploitation</strong>: Though many CPCs claim to offer
              free diapers and baby supplies to their clients, these needs are
              often withheld from caretakers who don’t agree to participate in
              custom “education” programs. In some cases, STD and pregnancy test
              results are withheld until a patient listens to shaming
              anti-choice and anti-sex speaches.
            </li>
          </ul>
        </div>
