---
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="content">
      <div class="home">
        <div id="main" class="call-out">
          <img src="" alt="">
        </div>

        <!-- TODO: fix nav styling -->
        <nav style="display:none">
          <a href="#identification">How to Identify a CPC</a> |
          <a href="#whysocfem">Why Are Socialist Feminists Taking Action Against CPCs?</a> |
          <a href="#pghcpcs">CPCs in the Pittsburgh Area</a> |
          <a href="#gethelp">Get Help</a> |
          <a href="#action">Take Action</a> |
          <a href="#resources">External Resources</a>
        </nav>

        <article>

          {% include intro.html %}

            {% include identification.html %}

            {% include gethelp.html %}

            {% include action.html %}

            {% include whysocfem.html %}

            {% include pghcpcs.html %}

            {% include resources.html %}

        </article>

      </div>
    </div>

    {% include footer.html %}

  </body>
</html>
