        <p class="abortion-preamble">
          We Deserve the <span class="pop">Facts</span>
        </p>

        <img class="centered" width="70%" src="assets/img/healthcare.png" alt="stethoscope">

        <section id="abortion">
          <h2><a class="deeplink"
                 href="{{ site.baseurl }}/#abortion"
                 ><span class="pop">NEED AN ABORTION?</span></a></h2>

          <div class="clinic">
            <h4>Allegheny Reproductive Health Center</h4>
            <p>(abortions up to 21 weeks 6 days)</p>
            <address>
              <p class="map-location">
                <a class="map" href="https://goo.gl/maps/GQs9jwrRUNu"
                  ><i class="fa fa-map-marker fa-fw"></i> 5910 Kirkwood St, Pittsburgh</a>
              </p>
            </address>
            <p>
              <a class="web" href="https://www.alleghenyreproductive.com"
                ><i class="fa fa-link fa-fw"></i> alleghenyreproductive.com</a>
            </p>
            <p>
              <a class="tel" href="tel:412-661-8811"
                ><i class="fa fa-phone fa-fw"></i> 412-661-8811</a>
            </p>
          </div>

          <div class="clinic">
            <h4>Seasons Ob-Gyn</h4>
            <p>(abortions up to 22 weeks)</p>
            <address>
              <p class="map-location">
                <a class="map" href="https://goo.gl/maps/7yJTTA2kf972"
                  ><i class="fa fa-map-marker fa-fw"></i> 4815 Liberty Ave Suite 215, Pittsburgh</a>
              </p>
            </address>
            <p>
              <a href="http://www.seasonsobgyn.com"
                ><i class="fa fa-link fa-fw"></i> www.seasonsobgyn.com</a>
            </p>
            <p>
              <a class="tel" href="tel:855-281-4963"
                ><i class="fa fa-phone fa-fw"></i> 855-281-4963</a>
            </p>
          </div>

          <div class="clinic">
            <h4>Magee-Womens Hospital of UPMC</h4>
            <p>(abortions up to 24 weeks)</p>
            <address>
              <p class="map-location">
                <a href="https://goo.gl/maps/pxiWtZ3pRH72"
                  ><i class="fa fa-map-marker fa-fw"></i> 300 Halket St, Pittsburgh</a>
              </p>
            </address>
            <p>
              <a href="http://www.upmc.com/locations/hospitals/magee/Pages/default.aspx"
                ><i class="fa fa-link fa-fw"></i> www.upmc.com (magee)</a>
            </p>
            <p>
              <a class="tel" href="tel:412-641-6222"
                ><i class="fa fa-phone fa-fw"></i> 412-641-6222</a>
            </p>
          </div>

          <div class="clinic">
            <h4>Planned Parenthood</h4>
            <p>(abortions up to 18 weeks)</p>
            <address>
              <p class="map-location">
                <a href="https://goo.gl/maps/RUxrfWLC8EC2"
                  ><i class="fa fa-map-marker fa-fw"></i> 933 Liberty Ave, Pittsburgh</a>
              </p>
            </address>
            <p>
              <a href="http://ppwp.org/"
                ><i class="fa fa-link fa-fw"></i> ppwp.org</a>
            </p>
            <p>
              <a class="tel" href="tel:412-562-1900"
                ><i class="fa fa-phone fa-fw"></i> 412-562-1900</a>
            </p>
          </div>

          <div class="fund">
            <h4>Western Pennsylvania Fund for Choice</h4>
            <p>
              Reproductive rights are under attack, causing an ever-increasing
              number of barriers for those seeking abortion. The Western
              Pennsylvania Fund for Choice ensures that money is not one of these
              obstacles.
            </p>
            <p>
              <a href="https://www.wpafundforchoice.org/"
                ><i class="fa fa-link fa-fw"></i> www.wpafundforchoice.org</a>
            </p>
          </div>

          <div class="fund">
            <h4>National Network of Abortion Funds</h4>
            <p>
              The National Network of Abortion Funds builds power with members to
              remove financial and logistical barriers to abortion access by
              centering people who have abortions and organizing at the
              intersections of racial, economic, and reproductive justice.
            </p>
            <p>
              <a href="https://abortionfunds.org/need-abortion/"
                 ><i class="fa fa-link fa-fw"></i> abortionfunds.org/need-abortion</a>
            </p>
          </div>
        </section>
