        <section id="action">
          <h2><a class="deeplink"
                 href="{{ site.baseurl }}/#action">Take Action</a></h2>

          <img id="action-canvassing"
               src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
               data-src="assets/img/action-canvassing.jpg"
               data-src-webp="assets/img/action-canvassing.webp"
               alt="canvassing to expose fake clinics">

          <div class="para">
            <i class="fa fa-check-circle fa-fw"></i>
            <a href="https://act.dsausa.org/donate/membership/"
               >Join the Democratic Socialists of America</a>.
          </div>

          <div class="para">
            <i class="fa fa-check-circle fa-fw"></i>
            Read our <a href="http://pghdsa.org/2017/02/09/statement-on-reproductive-justice/"
              >Statement on Reproductive Justice</a> and the recently proposed
            <a href="http://pghdsa.org/2018/01/29/statement-on-sen-caseys-intended-vote-for-s-2311/"
              >20 week abortion ban</a>.
          </div>

          <div class="para">
            <i class="fa fa-check-circle fa-fw"></i>
            Get involved in our work directly.
            Contact us at <a href="mailto:socfem@pghdsa.org">socfem@pghdsa.org</a>.
          </div>

          <div class="para">
            <i class="fa fa-check-circle fa-fw"></i>
            Print these flyers and help spread them around the Pittsburgh area!
            <ul>
              <li><a href="assets/print/WCN-fake-clinics.pdf"
                  >Women's Choice Network is a Fake Clinic
                  <i class="fa fa-file fa-fw"></i><em>pdf</em></a>
              </li>

              <li>
                <a href="assets/print/HowtoIdentify.png"
                   >How to Identify a CPC
                   <i class="fa fa-file fa-fw"></i><em>png</em></a>
              </li>
            </ul>
          </div>

          <div class="para">
            <i class="fa fa-check-circle fa-fw"></i>
            <a href="assets/print/AntiCPC_Brochure.pdf"
              >Check out our informational pamphlet</a>!
            If you're interested in spreading these around your neighborhood,
            email <a href="mailto:socfem@pghdsa.org">socfem@pghdsa.org</a>!
          </div>
        </section>
