        <section id="action">
          <h2><a class="deeplink"
                 href="{{ site.baseurl }}/#action">Take Action</a></h2>

          <p>
            <i class="fa fa-check-circle fa-fw"></i>
            <a href="https://act.dsausa.org/donate/membership/"
               >Join the Democratic Socialists of America</a>.
          </p>

          <p>
            <i class="fa fa-check-circle fa-fw"></i>
            Read our <a href="http://pghdsa.org/2017/02/09/statement-on-reproductive-justice/"
              >Statement on Reproductive Justice</a> and the recently proposed
            <a href="http://pghdsa.org/2018/01/29/statement-on-sen-caseys-intended-vote-for-s-2311/"
              >20 week abortion ban</a>.
          </p>

          <p>
            <i class="fa fa-check-circle fa-fw"></i>
            Get involved in our work directly.
            Contact us at <a href="mailto:socfem@pghdsa.org">socfem@pghdsa.org</a>.
          </p>

          <p>
            <i class="fa fa-check-circle fa-fw"></i>
            <a href="assets/print/WCN-fake-clinics.pdf"
              >Print these flyers and help spread them around the Pittsburgh area!
              <i class="fa fa-file fa-fw"></i></a>
          </p>
        </section>
