        <div id="deceptions">
          <h3><a id="deceptions-toggle" class="button">the deceptions</a></h3>
          <ul class="facts" style="display:none">
            <li>
              CPCs encourage staff to inquire about spirituality
            </li>

            <li>
              Ultrasounds are not provided by a medical professional and the
              medical advice is biased
            </li>

            <li>
              They use debunked studies correlating abortions to cancer and
              depression
            </li>

            <li>
              They position themselves near real, medically-licensed health care
              providers.
            </li>

            <li>
              Despite being anti-choice, they use pro-choice rhetoric such as
              <q>Women’s Choice Network</q>.
            </li>

            <li>
              By scheduling appointments at a location where they cannot receive
              complete reproductive health care, patients can waste weeks of time,
              making eventual procedures more expensive or inaccessible due to
              state law.
            </li>

            <li>
              <a href="http://www.latimes.com/politics/la-na-pol-abortion-court-california-20171113-story.html"
                 >
              The Supreme Court will be hearing a California case about CPCs
              trying to escape a disclosure law in 2018</a>
            </li>

          </ul>
        </div>
