        <p class="gethelp-preamble">
          Women Deserve the <span class="pop">Facts</span>
        </p>
        <img class="centered" width="70%" src="assets/img/healthcare.png">
        <section id="gethelp">
          <h2><a class="permalink"
                 href="{{ site.baseurl }}/#gethelp"
                 ><span class="pop">Where To Get Help</span></a></h2>

          <div class="clinic">
            <h4>Allegheny Reproductive Health Center</h4>
            <p>(abortions up to 21 weeks 6 days)</p>
            <address>
              <span class="map-location">
                <a href="https://goo.gl/maps/GQs9jwrRUNu">5910 Kirkwood St, Pittsburgh</a>
              </span>
            </address>
            <p>
              <a href="https://www.alleghenyreproductive.com"
                >alleghenyreproductive.com</a>
            </p>
            <a class="tel" href="tel:412-661-8811">412-661-8811</a>
          </div>

          <div class="clinic">
            <h4>Seasons Ob-Gyn</h4>
            <p>(abortions up to 22 weeks)</p>
            <address>
              <span class="map-location">
                <a href="https://goo.gl/maps/7yJTTA2kf972">4815 Liberty Ave Suite 215, Pittsburgh</a>
              </span>
            </address>
            <p>
              <a href="http://www.seasonsobgyn.com">www.seasonsobgyn.com</a>
            </p>
            <a class="tel" href="tel:855-281-4963">855-281-4963</a>
          </div>

          <div class="clinic">
            <h4>Magee-Womens Hospital of UPMC</h4>
            <p>(abortions up to 24 weeks)</p>
            <address>
              <span class="map-location">
                <a href="https://goo.gl/maps/pxiWtZ3pRH72">300 Halket St, Pittsburgh</a>
              </span>
            </address>
            <p>
              <a href="http://www.upmc.com/locations/hospitals/magee/Pages/default.aspx"
                >www.upmc.com/locations/hospitals/magee/Pages/default.aspx</a>
            </p>
            <a class="tel" href="tel:412-641-6222">412-641-6222</a>
          </div>

          <div class="clinic">
            <h4>Planned Parenthood</h4>
            <p>(abortions up to 18 weeks)</p>
            <address>
              <span class="map-location">
                <a href="https://goo.gl/maps/RUxrfWLC8EC2">933 Liberty Ave, Pittsburgh</a>
              </span>
            </address>
            <p>
              <a href="http://ppwp.org/">ppwp.org</a>
            </p>
            <a class="tel" href="tel:412-562-1900">412-562-1900</a>
          </div>

        </section>
