        <section id="identification">
          <h2 class="centered"><a class="permalink"
                 href="{{ site.baseurl }}/#identification"
                 >How to <span class="pop">Identify</span> CPCs</a></h2>
          <ul class="tips">
            <li>
              Crisis Pregnancy Centers can also go by the name <q>Pregnancy
                Resource Center</q>
            </li>

            <li>
              If the ad or flier for a clinic emphasizes how scary a pregnancy
              can be, it's probably a CPC
            </li>

            <li>
              If the center offers free ultrasounds and pregnancy tests, it's
              likely a CPC
            </li>

            <li>
              If the website offers abortion <q>information</q> but nothing on actual
              abortion services, it's probably a CPC
            </li>

            <li>
              If you call to ask about abortion and they refuse to answer your
              questions over the phone, it's probably a CPC
            </li>

            <li>
              When reviewing a potential clinic's website, look for coded
              anti-choice language and perspective, including referring to an
              embryo as <q>a human being in early stages of development</q> and an
              emphasis on <q>abortion recovery</q>
            </li>

            <li>
              If the clinic's website or staff refuse to offer referral for
              actual abortion providers, it's probably a CPC
            </li>

            <li>
              If the clinic does not provide extended OB/GYN or pre-natal care,
              birth control prescription or devices, or fertility testing, it's
              probably a CPC
            </li>

            <img class="centered" src="assets/img/healthcare.png">
          </ul>
        </section>
