<header class="site-header">
  <div class="attribution">
    <img src="{{ site.baseurl }}/{{ site.theme_settings.avatar }}"
         alt="rose" />
    <em>{{ site.description }}</em>
  </div>

  <nav class="navbar navbar-default navbar-fixed-top">
    <a id="pull" class="toggle">
      <i class="fa fa-bars fa-lg"></i>
    </a>
  
    <ul class="collapse internal-links">
      <li>
        <a class="clear" href="#identification">Identifying CPCs</a>
      </li>
      <li>
        <a class="clear" href="#abortion">Abortion</a>
      </li>
      <li>
        <a class="clear" href="#action">Action</a>
      </li>
      <li>
        <a class="clear" href="#whysocfem">About</a>
      </li>
      <li>
        <a class="clear" href="#state">State</a>
      </li>
      <li>
        <a class="clear" href="#pghcpcs">CPCs</a>
      </li>
      <li>
        <a class="clear" href="#resources">Resources</a>
      </li>
    </ul>
  </nav>
</header>
