<header class="site-header">
    
    <div style="padding: 5px; float: left;">
        
        <div class="branding" style="display: inline; float: left;">
            <a href="{{ site.baseurl }}/">
                <img class="avatar" src="{{ site.baseurl }}/{{ site.theme_settings.avatar }}" alt=""/>
            </a>

            <h1 class="site-title" style="padding: .2em .1em;">
                <a href="{{ site.baseurl }}/">{{ site.theme_settings.title }}</a>
            </h1>
        </div>
    </div>
    
  <nav class="navbar navbar-default navbar-fixed-top">
    <a id="pull" class="toggle" href="#">
      <i class="fa fa-bars fa-lg"></i>
    </a>
  
    <ul>
      <li>
        <a class="clear" href="#identification">Identifying CPCs</a>
      </li>
      <li>
        <a class="clear" href="#gethelp">Get Help</a>
      </li>
      <li>
        <a class="clear" href="#action">Action</a>
      </li>
      <li>
        <a class="clear" href="#whysocfem">SocFem</a>
      </li>
      <li>
        <a class="clear" href="#pghcpcs">CPCs</a>
      </li>
      <li>
        <a class="clear" href="#resources">Resources</a>
      </li>
    </ul>
  </nav>
</header>
