        <section id="pghcpcs">
          <h2><a class="permalink"
                 href="{{ site.baseurl }}/#pghcpcs">CPCs in the Pittsburgh Area</a></h2>
          <ul class="cpcs">
            <li>
              Women's Choice Network
              <a href="http://imissedmyperiod.com">imissedmyperiod.com</a>
              (locations in Oakland, Wexford, Northside, Monroeville)
            </li>

            <li>
              Birthright of Pittsburgh
              <a href="http://birthright.org/en/landingpage/lp-pittsburgh">birthright.org</a>
              (located in Oakland)
            </li>

            <li>
              Lifeline of Southwest PA
              <a href="http://www.lifelineofsouthwestpa.org/">lifelineofsouthwestpa.org</a>
              (located Downtown)
            </li>

            <li>
              Cura Women's Care Clinic of Pittsburgh
              <a href="http://curawomens.clinic/pittsburgh/">curawomens.com</a>
              (located in Upper St. Clair/ Mt. Lebanon)
            </li>
          </ul>

        </section>
