        <section id="publications">
          <h2><a class="deeplink"
                 href="{{ site.baseurl }}/#publications">Medical and Biomedical Ethics Publications</a></h2>
          <h3>(Medical journal articles about CPCs and Abortion Access)</h3>
          <ul class="publications">

            <li>
              <a
                href="https://journalofethics.ama-assn.org/article/why-crisis-pregnancy-centers-are-legal-unethical/2018-03"
                ><i class="fa fa-external-link-alt fa-fw"
                ></i>
                Bryant AG, Swartz JJ.
                <strong>
                  Why Crisis Pregnancy Centers are Legal but Unethical.
                </strong>
                American Medical Association Journal of Ethics. 2018 Mar 1; 20(1).</a>
            </li>

            <li>
              <a href="https://www.jpagonline.org/article/S1083-3188(19)30335-3/fulltext"
                ><i class="fa fa-external-link-alt fa-fw"
                ></i>
                Swartzendruber A et al.
                <strong>
                  Crisis Pregnancy Centers in the United
                  States: Lack of Adherence to Medical and Ethical Practice
                  Standards; A Joint Position Statement of the Society for
                  Adolescent Health and Medicine and the North American Society for
                  Pediatric and Adolescent Gynecology.
                </strong>
                J Pediatr Adolsc Gynecol.  2019 Dec; 32(6).</a>
            </li>

            <li>
              <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6318184/pdf/11606_2018_Article_4703.pdf"
                ><i class="fa fa-external-link-alt fa-fw"
                ></i>
                Borrero S et al.
                <strong>
                  Crisis Pregnancy Centers: Faith Centers Operating in Bad Faith.
                </strong>
                Journal of General Internal Medicine 2018; 34(1).</a>
            </li>

            <li>
              <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7148549/"
                ><i class="fa fa-external-link-alt fa-fw"
                ></i>
                Swartzendruber A, Lambert DN.
                <strong>
                  A Web-Based Geolocated Directory of Crisis Pregnancy
                  Centers (CPCs) in the United States: Description of CPC Map
                  Methods and Design Features and Analysis of Baseline Data.
                </strong>
                JMIR Public Health Surveill.  2020 Jan-Mar; 6(1).</a>
            </li>

            <li>
              <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5943037/pdf/nihms957980.pdf"
                ><i class="fa fa-external-link-alt fa-fw"
                ></i>
                Bearak JM et al.
                <strong>
                  Disparities and change over time in distance
                  women would need to travel to have an abortion in the USA: a
                  spatial analysis.
                </strong>
                Lancet Public Health. 2017 Nov; 2(11).</a>
            </li>
          </ul>
        </section>
