        <section id="resources">
          <h2><a class="deeplink"
                 href="{{ site.baseurl }}/#resources">More About Reproductive Justice</a></h2>
          <ul class="resources">
            <li>
              <a href="http://www.newvoicespittsburgh.org/"
                ><i class="fa fa-external-link fa-fw"></i>
                New Voices Pittsburgh</a>
            </li>

            <li>
              <a href="https://exposefakeclinics.squarespace.com/"
                ><i class="fa fa-external-link fa-fw"></i>
                Expose Fake Clinics from the Lady Parts Justice League</a>
            </li>

            <li>
              <a href="https://endthelies.com/"
                ><i class="fa fa-external-link fa-fw"></i>
                End The Lies</a>
            </li>

            <li>
              <a href="https://exposefakeclinics.squarespace.com/blog/2017/12/19/real-alternatives-or-real-bs"
                ><i class="fa fa-external-link fa-fw"></i>
                Blog Post: Real Alternatives or Real B.S.?</a>
            </li>

            <li>
              <a href="https://www.salon.com/2015/07/14/how_crisis_pregnancy_centers_are_using_taxpayer_dollars_to_lie_to_women/"
                ><i class="fa fa-external-link fa-fw"></i>
                <q>How Crisis Pregnancy Centers Are Using Taxpayer Dollars to
                   Lie to Women</q> Salon</a>
            </li>

            <li>
              <a href="https://theconversation.com/abortion-freedom-of-speech-battle-heading-to-the-supreme-court-87915"
                ><i class="fa fa-external-link fa-fw"></i>
                <q>Abortion Freedom  of Speech Battle Headed to the Supreme Court</q> The Conversation</a>
            </li>

            <li>
              <a href="https://realchoicepittsburgh.wordpress.com/"
                ><i class="fa fa-external-link fa-fw"></i>
                A woman's experience with Women's Choice Network in Pittsburgh</a>
            </li>

            <li>
              <a href="http://www.pennlive.com/opinion/2018/03/real_alternatives_column_-_wor.html"
                ><i class="fa fa-external-link fa-fw"></i>
                <q>Anti-abortion group gets taxpayer money but hides records,
                   lawsuit claims</q> PennLive</a>
            </li>
          </ul>
        </section>
