        <section id="resources">
          <h2><a class="permalink"
                 href="{{ site.baseurl }}/#resources">#</a> External Resources</h2>
          <ul class="resources">
            <li>
              <a href="https://exposefakeclinics.squarespace.com/"
                >Expose Fake Clinics from the Lady Parts Justice League</a>
            </li>

            <li>
              <a href="https://exposefakeclinics.squarespace.com/blog/2017/12/19/real-alternatives-or-real-bs"
                 >Blog Post: Real Alternatives or Real B.S.?</a>
            </li>

            <li>
              <a href="https://www.salon.com/2015/07/14/how_crisis_pregnancy_centers_are_using_taxpayer_dollars_to_lie_to_women/"
                 ><q>How Crisis Pregnancy Centers Are Using Taxpayer Dollars to
                   Lie to Women</q> Salon</a>
            </li>

            <li>
              <a href="https://theconversation.com/abortion-freedom-of-speech-battle-heading-to-the-supreme-court-87915"
                >“Abortion Freedom  of Speech Battle Headed to the Supreme Court” The Conversation</a>
            </li>

            <li>
              <a href="https://realchoicepittsburgh.wordpress.com/"
                >A woman's experience with Women's Choice Network in Pittsburgh</a>
            </li>

          </ul>
        </section>
