        <section id="state">
          <h2><a class="deeplink" href="{{ site.baseurl }}/#state"
                 >The State</a></h2>
          <h3>Barriers to Reproductive Justice in PA</h3>

          <p>
            Pennsylvania is one <a href="https://www.womenslawproject.org/abortion-reproductive-health/abortion-access/"
              >of the most restrictive states in the country</a>
            when it comes to
            <a href="https://www.womenslawproject.org/2020/01/22/abortion-rights-access-in-pennsylvania-at-roe47/"
              >abortion access</a>. In Pennsylvania, the following restrictions
            on abortion are in effect as of March 1, 2020:
          </p>

          <ul class="restrictions">
            <li>
              <i class="fa fa-gavel fa-fw"></i>
              Though no public funds cover elective abortion &mdash; and a family
              <a href="http://rhrealitycheck.org/article/2013/06/14/pennsylvania-governor-poised-to-sign-bill-that-would-push-women-to-purchase-non-existent-abortion-riders/"
                >can't purchase private insurance in the federally facilitated
              marketplace that covers abortion</a> even when the health of
              the pregnant people is threatened by continuing the
              pregnancy &mdash; every year in Pennsylvania,
              <a href="http://rhrealitycheck.org/article/2014/07/02/pennsylvanias-proposed-budget-funnels-even-tax-dollars-crisis-pregnancy-centers/"
                >millions of dollars in taxpayer money goes to so-called
              <q>crisis pregnancy centers</q></a>, faux-medical centers with
              a record of lying to families.
            </li>

            <li>
              <i class="fa fa-gavel fa-fw"></i>
              A person must receive state-directed counseling that includes
              information designed to discourage them from having an abortion,
              and then wait 24 hours before the procedure is provided.
            </li>

            <li>
              <i class="fa fa-gavel fa-fw"></i>
              Health plans offered in the state's health exchange under the
              Affordable Care Act can only cover abortion if the patient's life is
              endangered, or in cases of rape or incest, unless individuals
              purchase an optional rider at an additional cost.
            </li>

            <li>
              <i class="fa fa-gavel fa-fw"></i>
              Abortion is covered in insurance policies for public employees
              only in cases of life endangerment, rape or incest.
            </li>

            <li>
              <i class="fa fa-gavel fa-fw"></i>
              The parent of a minor must consent before an abortion is provided.
            </li>

            <li>
              <i class="fa fa-gavel fa-fw"></i>
              Medicaid does not cover abortion. Public funding is available for
              abortion only in cases of life endangerment, rape or incest.
            </li>

            <li>
              <i class="fa fa-gavel fa-fw"></i>
              The state requires abortion clinics to meet unnecessary and
              burdensome standards related to their physical plant, equipment
              and staffing.
            </li>

            <li>
              <i class="fa fa-gavel fa-fw"></i>
              An abortion may be performed at 24 or more weeks after the
              last menstrual period only if the person's life is endangered or
              health is severely compromised.
            </li>

            <li>
              <i class="fa fa-gavel fa-fw"></i>
              82% of Pennsylvania counties have no abortion providers.
            </li>
          </ul>

          <h4>Sources:</h4>
          <p>
            <a href="https://womenslawproject.wordpress.com/2016/01/22/10-facts-about-abortion-in-pennsylvania-at-roe43/"
              ><i class="fa fa-external-link-alt fa-fw"></i>womenslawproject.wordpress.com/2016/01/22/10-facts-about-abortion-in-pennsylvania-at-roe43</a>
          </p>

          <p>
            <a href="https://www.guttmacher.org/fact-sheet/state-facts-about-abortion-pennsylvania"
              ><i class="fa fa-external-link-alt fa-fw"></i>www.guttmacher.org/fact-sheet/state-facts-about-abortion-pennsylvania</a>
          </p>

        </section>
