        <div id="tactics">
          <h3>the tactics</h3>
          <ul class="facts">
						<li>
              <strong>Deception</strong>: CPCs pose as women's health clinics or
              medical facilities but provide biased pregnancy counseling. They
              use debunked studies correlating abortions to cancer and
              depression. CPCs lie to patients once they're inside. CPC staff
              ask probing and invasive questions, and they will manipulate
              so-called <q>abortion minded</q> individuals about their spirituality
              and relationships. 
            </li>

            <li>
              <strong>False Advertisement</strong>: CPCs advertise to target
              pregnant people who may be seeking abortion care. They position
              themselves near real, medically-licensed health care providers.
              CPCs do not follow HIPAA regulations (because HIPAA only applies
              to actual medical providers). 
            </li>

            <li>
              <strong>Stalling</strong>: They will delay and cancel
              appointments, hoping to push people past the legal limit for
              abortion. By scheduling appointments at a location where they
              cannot receive complete reproductive health care, patients can
              waste weeks of time, making eventual procedures more expensive or
              inaccessible due to state law. The farther along a pregnancy goes,
              the more expensive the procedure. They seek to whittle away at a
              person's options and make accessing an abortion that much harder.
            </li>

            <li>
              <strong>Intimidation</strong>: CPCs work with protesters to
              intimidate people going into abortion provider offices. CPCs share
              patient data, and they try to intimidate legit providers. 
            </li>
          </ul>
        </div>
