        <p class="where-to-go-preamble">
          We Deserve the <span class="pop">Facts</span>
        </p>

        <img class="centered" style="width:70%"
             src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
             data-src="assets/img/healthcare.png"
             data-src-webp="assets/img/healthcare.webp"
             alt="stethoscope">

        <section id="where-to-go">
          <h2><a class="deeplink"
                 href="{{ site.baseurl }}/#where-to-go"
                 ><span class="pop">WHERE TO GO</span></a></h2>

          <p>
            The services offered at crisis pregnancy centers are offered at many
            other places &mdash; free from coercion and judgment. Where can you go
            instead of a fake clinic?
          </p>

          <section id="where-to-go-std-testing">
            <h3><a class="deeplink"
                   href="{{ site.baseurl }}/#where-to-go-std-testing"
                   >STD Testing</a></h3>

            <div class="clinic">
              <h4>Allies</h4>
              <p>
                <a class="tel" href="tel:412-345-7456"
                  ><i class="fa fa-phone fa-fw"></i> 412-345-7456</a>
              </p>
            </div>

            <div class="clinic">
              <h4>Allegheny County Health Department</h4>
              <p>
                <a class="tel" href="tel:412-578-8081"
                  ><i class="fa fa-phone fa-fw"></i> 412-578-8081</a>
              </p>
            </div>

            <div class="clinic">
              <h4>Planned Parenthood</h4>
              <p>
                <a class="tel" href="tel:412-434-8971"
                  ><i class="fa fa-phone fa-fw"></i> 412-434-8971</a>
              </p>
            </div>
          </section>

          <section id="where-to-go-free-pregnancy-tests">
            <h3><a class="deeplink"
                   href="{{ site.baseurl }}/#where-to-go-free-pregnancy-tests"
                   >Free Pregnancy Tests</a></h3>

            <div class="clinic">
              <h4>Downtown Planned Parenthood</h4>
              <p>(Tuesday, Thursday, Friday)</p>
              <p>
                <a class="tel" href="tel:412-562-1900"
                  ><i class="fa fa-phone fa-fw"></i> 412-562-1900</a>
              </p>
            </div>

            <div class="clinic">
              <h4>Wilkinsburg Family Health Center</h4>
              <p>
                <a class="tel" href="tel:412-247-2516"
                  ><i class="fa fa-phone fa-fw"></i> 412-247-2516</a>
              </p>
            </div>

            <div class="clinic">
              <h4>Alma Illery Medical Center</h4>
              <p>
                <a class="tel" href="tel:412-244-4700"
                  ><i class="fa fa-phone fa-fw"></i> 412-244-4700</a>
              </p>
            </div>

            <div class="clinic">
              <h4>Braddock Family Health Center</h4>
              <p>
                <a class="tel" href="tel:412-351-6300"
                  ><i class="fa fa-phone fa-fw"></i> 412-351-6300</a>
              </p>
            </div>
          </section>

          <section id="where-to-go-options-counseling">
            <h3><a class="deeplink"
                   href="{{ site.baseurl }}/#where-to-go-options-counseling"
                   >Options Counseling</a></h3>

            <div class="clinic">
              <h4>Downtown Planned Parenthood</h4>
              <p>
                <a class="tel" href="tel:412-562-1900"
                  ><i class="fa fa-phone fa-fw"></i> 412-562-1900</a>
              </p>
            </div>

            <div class="clinic">
              <h4>All-Options.org</h4>
              <p>
                <a class="web" href="https://www.all-options.org"
                  ><i class="fa fa-link fa-fw"></i> all-options.org</a>
              </p>
              <p>
                <a class="tel" href="tel:888-493-0092"
                  ><i class="fa fa-phone fa-fw"></i> 888-493-0092</a>
              </p>
            </div>
          </section>

          <section id="where-to-go-adoption">
            <h3><a class="deeplink"
                   href="{{ site.baseurl }}/#where-to-go-adoption"
                   >Adoption</a></h3>

            <div class="clinic">
              <h4>The Children's Home</h4>
              <p>
                <a class="tel" href="tel:412-441-4884"
                  ><i class="fa fa-phone fa-fw"></i> 412-441-4884</a>
              </p>
            </div>
          </section>

          <section id="where-to-go-pre-natal-care">
            <h3><a class="deeplink"
                   href="{{ site.baseurl }}/#where-to-go-pre-natal-care"
                   >Pre-Natal Care</a></h3>

            <div class="clinic">
              <h4>Squirrel Hill Health Center</h4>
              <p>
                <a class="tel" href="tel:412-422-7442"
                  ><i class="fa fa-phone fa-fw"></i> 412-422-7442</a>
              </p>
            </div>

            <div class="clinic">
              <h4>East Liberty Family Health Care Services</h4>
              <p>
                <a class="tel" href="tel:412-661-2802"
                  ><i class="fa fa-phone fa-fw"></i> 412-661-2802</a>
              </p>
            </div>

            <div class="clinic">
              <h4>Midwife Center</h4>
              <p>
                <a class="tel" href="tel:412-321-6880"
                  ><i class="fa fa-phone fa-fw"></i> 412-321-6880</a>
              </p>
            </div>
          </section>

          <section id="where-to-go-abortion">
            <h3><a class="deeplink"
                   href="{{ site.baseurl }}/#where-to-go-abortion"
                   >Abortion</a></h3>

            <div class="clinic" data-proofer-ignore>
              <h4>Allegheny Reproductive Health Center</h4>
              <p>(abortions up to 21 weeks 6 days)</p>
              <address>
                <p class="map-location">
                  <a class="map" href="https://goo.gl/maps/GQs9jwrRUNu"
                    ><i class="fa fa-map-marker fa-fw"></i> 5910 Kirkwood St, Pittsburgh</a>
                </p>
              </address>
              <p>
                <a class="web" href="https://www.alleghenyreproductive.com"
                  ><i class="fa fa-link fa-fw"></i> alleghenyreproductive.com</a>
              </p>
              <p>
                <a class="tel" href="tel:412-661-8811"
                  ><i class="fa fa-phone fa-fw"></i> 412-661-8811</a>
              </p>
              <script type="application/ld+json">
                {
                  "@context": "http://schema.org",
                  "@type": "MedicalClinic",
                  "name": "Allegheny Reproductive Health Center",
                  "availableService": {
                    "@type": "MedicalProcedure",
                    "name": "abortion"
                  },
                  "address": "5910 Kirkwood St, Pittsburgh, PA, USA",
                  "telephone": "+1 412-661-8811",
                  "url": "https://www.alleghenyreproductive.com"
                }
              </script>
            </div>

            {% comment %}
            <!--
              /******
               * TODO: Add this back once we have confirmation from contact(s)
               *
            <div class="clinic">
              <h4>Seasons Ob-Gyn</h4>
              <p>(abortions up to 22 weeks)</p>
              <address>
                <p class="map-location">
                  <a class="map" href="https://goo.gl/maps/7yJTTA2kf972"
                    ><i class="fa fa-map-marker fa-fw"></i> 4815 Liberty Ave Suite 215, Pittsburgh</a>
                </p>
              </address>
              <p>
                <a href="http://www.seasonsobgyn.com"
                  ><i class="fa fa-link fa-fw"></i> seasonsobgyn.com</a>
              </p>
              <p>
                <a class="tel" href="tel:855-281-4963"
                  ><i class="fa fa-phone fa-fw"></i> 855-281-4963</a>
              </p>
            </div>
            -->
            {% endcomment %}

            <div class="clinic">
              <h4>Magee-Womens Hospital of UPMC</h4>
              <p>(abortions up to 24 weeks)</p>
              <address>
                <p class="map-location">
                  <a href="https://goo.gl/maps/pxiWtZ3pRH72"
                    ><i class="fa fa-map-marker fa-fw"></i> 300 Halket St, Pittsburgh</a>
                </p>
              </address>
              <p>
                <a href="http://www.upmc.com/locations/hospitals/magee/Pages/default.aspx"
                  ><i class="fa fa-link fa-fw"></i> upmc.com (magee)</a>
              </p>
              <p>
                <a class="tel" href="tel:412-641-6222"
                  ><i class="fa fa-phone fa-fw"></i> 412-641-6222</a>
              </p>
              <script type="application/ld+json">
                {
                  "@context": "http://schema.org",
                  "@type": "MedicalClinic",
                  "name": "Magee-Womens Hospital of UPMC",
                  "availableService": {
                    "@type": "MedicalProcedure",
                    "name": "abortion"
                  },
                  "address": "300 Halket St, Pittsburgh, PA, USA",
                  "telephone": "+1 412-641-6222",
                  "url": "http://www.upmc.com/locations/hospitals/magee/Pages/default.aspx"
                }
              </script>
            </div>

            <div class="clinic">
              <h4>Planned Parenthood</h4>
              <p>(abortions up to 18 weeks)</p>
              <address>
                <p class="map-location">
                  <a href="https://goo.gl/maps/RUxrfWLC8EC2"
                    ><i class="fa fa-map-marker fa-fw"></i> 933 Liberty Ave, Pittsburgh</a>
                </p>
              </address>
              <p>
                <a href="http://ppwp.org/"
                  ><i class="fa fa-link fa-fw"></i> ppwp.org</a>
              </p>
              <p>
                <a class="tel" href="tel:412-562-1900"
                  ><i class="fa fa-phone fa-fw"></i> 412-562-1900</a>
              </p>
              <script type="application/ld+json">
                {
                  "@context": "http://schema.org",
                  "@type": "MedicalClinic",
                  "name": "Planned Parenthood",
                  "availableService": {
                    "@type": "MedicalProcedure",
                    "name": "abortion"
                  },
                  "address": "933 Liberty Ave, Pittsburgh, PA, USA",
                  "telephone": "+1 412-562-1900",
                  "url": "http://ppwp.org/"
                }
              </script>
            </div>

            <div class="fund">
              <h4>Western Pennsylvania Fund for Choice</h4>
              <p>
                Reproductive rights are under attack, causing an ever-increasing
                number of barriers for those seeking abortion. The Western
                Pennsylvania Fund for Choice ensures that money is not one of these
                obstacles.
              </p>
              <p>
                <a href="https://www.wpafundforchoice.org/"
                  ><i class="fa fa-link fa-fw"></i> wpafundforchoice.org</a>
              </p>
            </div>

            <div class="fund">
              <h4>National Network of Abortion Funds</h4>
              <p>
                The National Network of Abortion Funds builds power with members to
                remove financial and logistical barriers to abortion access by
                centering people who have abortions and organizing at the
                intersections of racial, economic, and reproductive justice.
              </p>
              <p>
                <a href="https://abortionfunds.org/need-abortion/"
                   ><i class="fa fa-link fa-fw"></i> abortionfunds.org/need-abortion</a>
              </p>
            </div>
          </section>
        </section>
