        <section id="whysocfem">
          <h2><a class="permalink"
                 href="{{ site.baseurl }}/#whysocfem">Why Are Socialist
                 Feminists Taking Action Against CPCs?</a></h2>
          <p>
            As socialist feminists, our analysis is grounded in the interconnected
            nature of capitalism, cis-hetero-patriarchy, misogyny, and white
            supremacy. We see CPCs as agents of state-supported violence against
            pregnant people. CPCs inflict emotional and financial violence on
            people who need healthcare and support. They appropriate the language
            of the feminist movement to dupe pregnant people, and they do it
            <em>with taxpayer money, at the expense of families with
              children</em>: <a href="https://thinkprogress.org/tanf-cpcs-ec002305dd18/#.t00ru3nnf"
              >Pennsylvania invented the practice of diverting TANF (welfare)
              funds to support crisis pregnancy centers</a>.
          </p>

          <p>
            CPCs in Pennsylvania have enjoyed this support since 2001, while
            actual abortion and reproductive health care providers struggle to
            stay open. Socialist feminists expose and combat CPCs because they
            cause real harm: to us as people who can become pregnant, who have had
            abortions, who have families, and who are fully autonomous human
            beings. Socialist feminists organize to reveal the agenda behind CPCs
            and to choke off their sources of support at all levels because a
            socialist future is impossible without reproductive justice. 
          </p>

        </section>
