// Typography
$font-family-main: Lato, Helvetica, Arial, sans-serif;
$font-family-headings: Lato, Helvetica, Arial, sans-serif;
$font-size: 1.25em;

// Padding
$padding-large: 20%;
$padding-small: 5%;
$padding-x-small: 3%;

// Brand colours
$brand-color: #FFF;
$background-color: #FFF;
$border-color: rgba(black, 0.1);
$dsa-red: #ED1C24;
$red: #F00;
$safety-orange: #FF7900;
$danger-gray: #666;

// Typography colours
$blockquote-color: #EEF7FA;
$link-color: $dsa-red;
$selection-color: #D4D4D4;
$text-color: #383838;

// Search color
$link-shadow: transparentize($link-color, .6);
$text-shadow: #3f3f3f;
$search-color: #999;

// Header colours
$header-link-color: #383838;

// Feature image for articles
$feature-image-text-color: #fff;
$feature-image-size: cover;

// Header description box
$header-desc-background-color: #ED1C24;
$header-desc-text-color: #FFF;

// Mobile display
$break: 768px;
$sm-break: 450px;
